<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<link href="/../stylesheets/formStyle.css" rel="stylesheet">
<div class="container">
<h1>SHOE RESALE</h1>
<h2><a class="user" href="../database/add">CLICK HERE TO MAKE A SALES POST</a> </h2>


<table>
<tr>
  <th>More Info</th>
  <th>Name</th>
  <th>Location</th>
  <th>Shoe Type</th>
  <th>Condition</th>
  <th>Size Type</th>
  <th>Size</th>
  <th>Colour</th>
  <th>Price</th>
  <th>Phone Number</th>
  <th>Modify</th>
</tr>
<% for(var i = 0; i < rows.length; i++) { %>
  <tr>
      <td><a class="user" href="../database/user/<%=rows[i].uid%>"><%=(i+1)%></a></td>
      <td><%=rows[i].fname%></td>
      <td><%=rows[i].location%></td>
      <td>
        <% if(rows[i].shoetype == '1'){ %>
          CASUALS
        <% } %>
        <% if(rows[i].shoetype == '2'){ %>
          RUNNERS
        <% } %>
        <% if(rows[i].shoetype == '3'){ %>
          HEELS
        <% } %>
        <% if(rows[i].shoetype == '4'){ %>
          SANDALS
        <% } %>
      </td>
      <td><%=rows[i].condition%>/10</td>
      <td><%=rows[i].sizetype%></td>
      <td><%=rows[i].size%></td>
      <td><%=rows[i].colour%></td>
      <td>$<%=rows[i].price%></td>
      <td><%=rows[i].uid%></td>
      <td>
      <a class="edit" href="../database/edit/<%=rows[i].uid%>">Edit</a>
      or
      <a class="delete" href="../database/delete/<%=rows[i].uid%>">Delete</a>
      </td>
     
  </tr>
  <% } %>

</table>
<h2><a class="user" href="../database/display">VIEW VISUAL DISPLAY</a> </h2>
</div>

</body>
</html>
