<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
<h1>Edit your Information</h1>
</div>

<form class="form1" action="/database/edit/<%=rows[0].uid%>" method="post">


    <label><b>First Name</b></label><br>
    <input type = "text" name = "fname" value = "<%=rows[0].fname%>" placeholder = " First Name"> <br>
    <label><b>Location</b></label><br>
    <input type = "text" name = "location" value = "<%=rows[0].location%>" placeholder="Where are you from?"> <br>
    <label><b>Shoe Type</b></label><br>

  
    <input type="number" name = "shoetype" list="shoetype"value = "<%=rows[0].shoetype%>" placeholder="Select Shoe Type">
    <datalist id="shoetype">
      <option value="1">CASUALS</option>
      <option value="2">RUNNERS</option>
      <option value="3">HEELS</option>
      <option value="4">SANDALS</option>
    </datalist>
    <br>

    <label><b>Condition</b></label><br>
    <input type = "number" name = "condition" value = "<%=rows[0].condition%>" placeholder="Condition of Shoes Out of 10"> <br>

    <label><b>Size Type</b></label><br>
    <input type="text" name = "sizetype" list="sizetype" value = "<%=rows[0].sizetype%>" placeholder="Select Shoe Type">
    <datalist id="sizetype">
      <option value="MENS"></option>
      <option value="WOMENS"></option>
      <option value="YOUTH"></option>
    </datalist>
    <br>

    <label><b>Size</b></label><br>
    <input type = "number" name = "size" value = "<%=rows[0].size%>" placeholder="Size"> <br>
    <label><b>Colour</b></label><br>
    <input type="text" name = "colour" list="colourlist" value = "<%=rows[0].colour%>" placeholder="Colour of Shoes">
    <datalist id="colourlist">
      <option value="RED">
      <option value="ORANGE">
      <option value="YELLOW">
      <option value="GREEN">
      <option value="BLUE">
      <option value="PURPLE">      
      <option value="PINK">
      <option value="BLACK">      
      <option value="WHITE">
      <option value="GREY">      
    </datalist>
    <br>
    <label><b>Price</b></label><br>
    <input type = "number" name = "price" value = "<%=rows[0].price%>" placeholder="Price"> <br>
    <br>

    <label><b>Membership ID</b></label><br>
    <input type = "text" name = "uid" value = "<%=rows[0].uid%>" placeholder="Enter user ID"> <br>
    <br>

  <input type = "submit" name = "sub" value = "SAVE"><br>


</form>


</body>
</html>